<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.glimpse.server.model.User"/>
        <mapping class="org.glimpse.client.UserPreferences"/>
        <mapping class="org.glimpse.server.model.Connection"/>
        <mapping class="org.glimpse.server.model.ServerTabDescription"/>
        <mapping class="org.glimpse.server.model.ServerColumnDescription"/>
        <mapping class="org.glimpse.server.model.ServerComponentDescription"/>
        <mapping class="org.glimpse.server.model.ServerComponentProperty"/>
    </session-factory>
</hibernate-configuration>
				
