<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="hibernateProperties" class="org.glimpse.server.hibernate.ConfigurationPropertiesFactoryBean">
		<property name="glimpseManager"><ref bean="glimpseManager"/></property>
		<property name="fileName"><value>hibernate.properties</value></property>
	</bean>

	<!-- sessionFactory  -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties"><ref bean="hibernateProperties"/></property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property  name="configurationClass">
  			 <value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="transactionProxy" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="passwordEncryptor" class="org.jasypt.util.password.BasicPasswordEncryptor"/>
	
	<bean id="userDao" class="org.glimpse.server.dao.hibernate.UserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="passwordEncryptor">
			<ref bean="passwordEncryptor" />
		</property>
	</bean>
	
	<bean id="connectionDao" class="org.glimpse.server.dao.hibernate.ConnectionDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="userManager" parent="transactionProxy">
		<property name="target">
			<bean class="org.glimpse.server.OrmUserManager">
				<constructor-arg ref="userDao"/>
				<constructor-arg ref="connectionDao"/>
			</bean>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	
	<bean id="glimpseManager" class="org.glimpse.server.GlimpseManager"/>
	
	<bean id="configuration" factory-bean="glimpseManager" factory-method="getConfiguration"/>
	
	<bean id="cacheManager" class="net.sf.ehcache.CacheManager" factory-method="create"/>
	
	<bean id="proxyProvider" class="org.glimpse.server.ConfiguredProxyProvider">
		<constructor-arg ref="configuration"/>
	</bean>
	
	<!--  GWT Services -->
	<bean id="loginService" class="org.glimpse.server.LoginServiceImpl">
		<property name="userManager" ref="userManager"/>
	</bean>	
	<bean id="pageDescriptionService" class="org.glimpse.server.PageDescriptionServiceImpl">
		<property name="userManager" ref="userManager"/>
	</bean>	
	<bean id="userDescriptionService" class="org.glimpse.server.UserDescriptionServiceImpl">
		<property name="userManager" ref="userManager"/>
	</bean>	
	<bean id="newsRetrieverService" class="org.glimpse.server.news.NewsRetrieverServiceImpl">
		<property name="proxyProvider" ref="proxyProvider"/>
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	<bean id="quotationService" class="org.glimpse.server.finance.QuotationServiceImpl">
		<property name="proxyProvider" ref="proxyProvider"/>
	</bean>

</beans>
