<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-name>ConnectionFilter</filter-name>
		<filter-class>org.glimpse.server.ConnectionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ConnectionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.glimpse.server.GlimpseManager</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.glimpse.spring.web.RemoteServiceDispatcher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NewsIconServlet</servlet-name>
		<servlet-class>org.glimpse.server.news.NewsIconServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ImportUserServlet</servlet-name>
		<servlet-class>org.glimpse.server.servlet.ImportUserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NewsIconServlet</servlet-name>
		<url-pattern>/servlets/news-icon</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ImportUserServlet</servlet-name>
		<url-pattern>/servlets/import-user</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.glimpse.org/glimpse</taglib-uri>
			<taglib-location>/WEB-INF/tld/glimpse.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>
